h1, h2{
    font-family: 'Open Sans', sans-serif !important;
}
body{
    font-family: 'Open Sans', sans-serif !important;
}
.pageImage {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.pageImage img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
    #title{
        color:white !important;
    }
    .panel-default{
        margin-top:10%;
    }

tbody:hover{
        cursor:pointer;
}

tbody tr:hover  > td{
    background-color:#D3D3D3;
}